// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');

// Update Bulma's global variables
$family-sans-serif: 'Roboto', sans-serif;
$primary: #FCF463;
$title-weight: 400;
$title-color: white;
$navbar-item-color: white;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $primary;
$breadcrumb-item-color: white;
$breadcrumb-item-active-color: $primary;
$breadcrumb-item-separator-color: white;
$breadcrumb-item-hover-color: $primary;
$family-secondary: 'Headland One', sans-serif;
$table-background-color: #0a0a0a;
$table-color: white;
$table-head-cell-color: white;
$table-cell-border: 1px solid #FCF463;

// Import only what you need from Bulma
@import "~bulma/bulma.sass";


$rhap_theme-color: #FCF463;   // Color of all buttons and volume/progress indicators
$rhap_background-color: #2d2d2d; // Color of the player background
$rhap_bar-color: #FCF463 !default;     // Color of volume and progress bar
$rhap_time-color: #FCF463 !default;       // Font color of current time and duration
@import '~react-h5-audio-player/src/styles.scss';

@import '~react-image-lightbox/style.css';

.rhap_container {
    max-width: 400px;
    width: 100%;
    border-radius: 15px;
}

html, body {
    background-color: $black;
    height: 100%;
}

.skip-intro {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.main-container {
    margin-left: 80px;
}

.proximamente .title {
    z-index:1;
}

p{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

@include touch {
    .main-logo {
        display: flex;
        flex-direction: column;
        text-align: center !important;
        .title {
            font-size: 30px;
        }
    }
    .title-intro {
        font-size: 18px;
        padding: 0!important;
    }
}

@include desktop {
    .vertical-title-desktop {
        transform: rotate(-90deg);
        transform-origin: 0 0;
        color: rgba(255, 255, 255, 0.25) !important;
        text-transform: uppercase;
        position: absolute;
        left: 20px;
        top: 400px;
        max-width: 200px;
        word-break: normal;
        &.organizaciones {
            top: 450px;
            left: 45px;
        }
    }
    .py-6-desktop {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    
    .ml-6-desktop {
        margin-left: 3rem !important;
    }
    .pl-6-desktop {
        padding-left: 3rem !important;
    }
}

// mujeres
.lideresas-img {
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    figure {
        border-radius: 50%;
        width: 160px;
        height: 160px;
        overflow: hidden;
        margin: 0 auto;
        opacity: 1;
        cursor: default;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            filter: sepia(0.5);
        }
    }
    
    .text {
        display: none;
        margin-top: 0px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    &:hover {
        figure {
            opacity: 0.7;
        }
        .text {
            display: block;
        }
    }
}

a.lideresas-img {
    figure {
    cursor: pointer;
    width: 200px;
    height: 200px;
    }
    .text {
        margin-top: 20px
    }
}

// mujer
.img-mujer img {
    height: 450px;
    width: auto;
    filter: sepia(0.5);
}

.scroll-to-links {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.circle-link {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    text-align: center;
    background-color: $black;
    position:relative;
    &.circle-link-big {
        width: 120px;
        height: 120px;
    }
    &:hover {
        color: $primary;
    }
    span:nth-child(1) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: 100%;
        left: 0;
    }
    span:nth-child(2) {
        position: absolute;
        content: "";
        left: -31px;
        top: 101%;
        width: 49px;
        border-top: 1px solid white;
        transform: rotate(-45deg);
    }
    span:nth-child(3) {
        position: absolute;
        content: "";
        right: -31px;
        top: 101%;
        width: 49px;
        border-top: 1px solid white;
        transform: rotate(45deg);
    }
    span:nth-child(4) {
        position: absolute;
        content: "";
        left: -31px;
        top: -2%;
        width: 49px;
        border-top: 1px solid white;
        transform: rotate(-135deg);
    }
    span:nth-child(5) {
        position: absolute;
        content: "";
        right: -31px;
        top: -2%;
        width: 49px;
        border-top: 1px solid white;
        transform: rotate(135deg);
    }
}

@include touch {
    .mujer-container {
        flex-direction: column;
    }
    .img-mujer img {
        width: 100%;
        height: auto;
    }
    .scroll-to-links {
        transform: scale(0.8);
    }
}

.info-timeline {
    .pointer-map {
        margin-left: 90px;
    }
    ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li span.timeline-circle {
        position: relative;
        border: 2px solid white;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-top: 40px;
        background-color: black;
        z-index: 2;
        display: inline-block;
      }
      li:first-of-type span.timeline-circle{
          margin-top: 20px;
      }
      li:not(:first-of-type) span.timeline-circle::before {
        position: absolute;
        border: 1px dotted white;
        width: 0;
        height: 40px;
        display: block;
        content: '';
        left: 50%;
        z-index: 1;
        top: -45px;
        margin-left: -1px;
      }
      li span.text {
        color: white;
        text-transform: uppercase;
        display: inline-block;
        width: 120px;
        text-align: right;
        padding-right: 20px;
        position: relative;
        top: -15px;
      }
      li:last-of-type { 
        span.timeline-circle{
            border-color: $primary;
            background-color: $primary;
        }
        span.text {
            color: $primary;
        }
      }
  }
}

.image-sepia img {
    filter: sepia(0.8);
}

.image.image-sepia img {
    max-height: 300px;
    width: auto;
    cursor: pointer;
}